include ../../Icons/dataAttach.pug
include ../../Icons/sendMessage.pug
include ../../Menu/index.pug

prepend head
	link(rel="stylesheet", href="../components/Chat/ContentFooter/style.sass")


mixin contentFooter()
	.content__footer
		form.content__form
			.content__attach
				+dataAttachIcon
				+menu("menu-attach", [
				{
					"contentIcon": "addImg",
					"content": "Изображение",
					"btnClass": "cls__addImg"
				},
				{
					"contentIcon": "addVideo",
					"content": "Видео",
					"btnClass": "cls__addVideo"
				},
				{
					"contentIcon": "addFile",
					"content": "Файл",
					"btnClass": "cls__addFile"
				},
				{
					"contentIcon": "addGeo",
					"content": "Геолокация",
					"btnClass": "cls__addGeo"
				}
			], "fromFooter")
			.content__msg
				input.content__msg-input(placeholder="Написать сообщение..." tabindex=0 autofocus="true")#message
			button.content__sendButton
				+sendMessageIcon
				