include ../../Icons/addUser.pug
include ../../Icons/removeUser.pug
include ../../Icons/imageAttach.pug
include ../../Icons/videoAttach.pug
include ../../Icons/fileAttach.pug
include ../../Icons/geoLocation.pug


prepend head
	link(rel="stylesheet" href="../components/Menu/MenuItem/style.sass")

mixin menuItem(cls, content, btnClass, icon)
	li(class=cls)
		case icon
			when "addTalkGuy"
				div
					+addUserIcon
			when "removeTalkGuy"
				div
					+removeUserIcon
			when "addImg"
				div
					+imageAttachIcon
			when "addVideo"
				div
					+videoAttachIcon
			when "addFile"
				div
					+fileAttachIcon
			when "addGeo"
				div
					+geoLocationIcon
		button #{content}