include ../../Icons/addUser.pug
include ../../Icons/removeUser.pug
include ../../Icons/imageAttach.pug
include ../../Icons/videoAttach.pug
include ../../Icons/fileAttach.pug
include ../../Icons/geoLocation.pug


prepend head
	link(rel="stylesheet" href="../components/Menu/MenuItem/style.sass")

mixin menuItem(cls, content, link, icon)
	li(class=cls)
		case icon
			when "addTalkGuy"
				div
					+addUserIcon
			when "removeTalkGuy"
				div
					+removeUserIcon
			when "attImg"
				div
					+imageAttachIcon
			when "attVideo"
				div
					+videoAttachIcon
			when "attFile"
				div
					+fileAttachIcon
			when "attGeo"
				div
					+geoLocationIcon
		a(href=link) #{content}