@import "../styles/sass-mixins"
@import "../styles/vars"
	
.chat
	display: flex
	flex-direction: row
	height: 100%
	width: 100%
	background-color: $whiteColor
	overflow: hidden
	&__column
		flex: 0 1 rem(300)
		// flex: 0 1 30%
		overflow: auto
	&__content
		width: 100%
.aside
	border-right: rem(2) solid rgba($logoColor, .5)
	display: flex
	flex-direction: column
	align-items: flex-start
	padding-top: rem(15)
	padding-bottom: rem(15)
	&__header
		width: 100%
		display: flex
		flex-direction: column
		gap: rem(15)
		padding: 0 rem(10) rem(15) rem(10)
		// border-bottom: rem(1) solid rgba($linkColor, .26)
	&__headerTop
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
	&__headerBody
		// 
.content
	width: 100%
	height: 100%
	display: flex
	flex-direction: column