@import "./sass-mixins"
	
$placeholder_color: #888888
$marginLeftInputDescription: rem(4)
$buttonAuthColor: #6C749A
$buttonAuthColorHovered: #424b79
$linkColor: #0000FF
$logoColor: #5B6BC0
$chatWindowColor: #6C749A
$whiteColor: #FFFFFF
$blackColor: #000000