mixin logo(img, caption = null, description = null)
	append head
		link(rel="stylesheet", href="../components/Logo/style.sass")
		
	.logo
		.logo__wrapper
			.logo__icon
				<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 55.684868 64.048729" height="64.048729mm" width="55.684868mm">
					<g transform="translate(-47.093881,-98.882638)">
						<path d="m 60.927563,154.99367 -13.832211,-7.99348 -7.36e-4,-16.05138 -7.35e-4,-16.0514 13.919402,-8.00738 13.91939,-8.007392 13.92205,8.007392 13.922027,8.00738 10e-4,16.0514 0.001,16.05138 -13.800247,7.9375 c -7.59014,4.36563 -13.89466,7.96269 -14.01005,7.99348 -0.11539,0.0308 -6.4343,-3.54108 -14.04202,-7.9375 z m 26.57121,-2.26084 12.45556,-7.14375 1.5e-4,-14.64027 1.4e-4,-14.64029 -12.50846,-7.17868 -12.50845,-7.17868 -12.51204,7.17868 -12.512043,7.17868 0.0023,14.64029 0.0023,14.64027 12.420803,7.13767 c 6.83144,3.92571 12.48458,7.1404 12.56252,7.14375 0.0779,0.003 5.74673,-3.20861 12.59728,-7.13767 z m -16.44316,-8.57866 c 0,-0.1101 1.11125,-6.01814 2.46944,-13.12896 1.3582,-7.11083 2.46945,-13.05325 2.46945,-13.20537 0,-0.15213 0.6522,-0.27659 1.44935,-0.27659 1.32313,0 1.43311,0.0691 1.2628,0.79375 -0.1026,0.43656 -1.26725,6.46906 -2.5881,13.40555 l -2.40154,12.61181 h -1.3307 c -0.73189,0 -1.3307,-0.0901 -1.3307,-0.20019 z m -8.54407,-7.13439 -6.95656,-3.77792 -0.007,-2.11667 -0.007,-2.11666 3.96507,-2.15988 c 2.1808,-1.18793 5.35415,-2.9089 7.05189,-3.82437 l 3.08681,-1.66449 v 2.43051 2.43051 l -5.02709,2.39351 -5.02708,2.39351 5.02708,2.52241 5.02709,2.52241 v 2.38697 c 0,1.31283 -0.0397,2.38046 -0.0882,2.37252 -0.0485,-0.008 -3.21865,-1.7145 -7.04476,-3.79236 z m 17.71629,1.43433 v -2.40146 l 5.02708,-2.52241 5.02708,-2.52241 -5.02708,-2.39351 -5.02708,-2.39351 v -2.413 -2.41299 l 3.26319,1.78264 c 1.79476,0.98045 4.96963,2.69354 7.05526,3.80685 l 3.79207,2.02422 -0.004,2.11666 -0.004,2.11667 -3.78817,2.02189 c -2.0835,1.11204 -5.25662,2.82512 -7.05137,3.80685 l -3.2632,1.78497 v -2.40146 z" style="stroke-width:2" />
					</g>
				</svg>
			if caption
				.logo__caption
					span Air Chat
			if description
				.logo__desc
					span Лёгкий и быстрый