include ../Avatar/index.pug
include ../../Burger/index.pug
include ../../Menu/index.pug

prepend head
	link(rel="stylesheet" href="../components/Chat/ContentHeader/style.sass")

mixin contentHeader()
	.content__header.header-content
		.header-content__avatar
			+userAvatar
		.header-content__owner
			span Киноклуб
		.header-content__menu
			+burgerIcon
			+menu("menu", [
				{
					"contentIcon": "addTalkGuy",
					"content": "Добавить участника",
					"link": "#"
				},
				{
					"contentIcon": "removeTalkGuy",
					"content": "Удалить участника",
					"link": "#"
				}
			], "fromHeader")