include ../Avatar/index.pug
include ../../Burger/index.pug
include ../../Menu/index.pug

prepend head
	link(rel="stylesheet" href="../components/Chat/ContentHeader/style.sass")


mixin contentHeader()
	.content__header.header-content
		.header-content__avatar
			+userAvatar
		.header-content__owner
			span Киноклуб
		.header-content__menu
			+burgerIcon
			+menu("menu", [
				{
					"contentIcon": "addTalkGuy",
					"content": "Добавить участника",
					"btnClass": "cls__addTalkGuy"
				},
				{
					"contentIcon": "removeTalkGuy",
					"content": "Удалить участника",
					"btnClass": "cls__removeTalkGuy"
				}
			], "fromHeader")
		+modalWnd(
			{
				caption: "Добавить участника",
				inputData: {
					type: "text",
					id: "addUser",
					placeholder: "Введите e-mail участника...",
					descText: "Электронная почта:"
				},
				buttonData: {
					type: "submit",
					mode: "addUser",
					text: "Добавить"
				}
			}
		)