prepend head
	link(rel="stylesheet", href="../components/Chat/ContentGag/style.sass")
	link(rel="stylesheet", href="../components/Logo/style.sass")


mixin contentGag()
	.content__gag
		span Выберите нужный чат...