extends ../layouts/chat.pug
include ../components/Chat/SearchBar/index.pug
include ../components/Chat/ChatItem/index.pug
include ../components/Chat/ContentGag/index.pug

block variables 
	- const title = "Air чат";
	
block content 
	main.page
		.chat
			aside.chat__column.aside
				+searchBar
				//- +chatItem
			div.chat__content.content
				+contentGag
				//- +contentHeader
				//- +contentBody
				//- +contentSendout