extends ../layouts/chat.pug

block variables 
	- const title = "Air чат";
	
//- block head
//- 	link(rel="stylesheet", href="../components/SignIn/style.sass")

block content 
	main.page
		.chat
			aside.chat__column
			div.chatcontent