extends ../layouts/index.pug

include ../components/ExtraLink/index.pug
include ../components/Chat/SearchBar/index.pug
include ../components/Chat/ChatItem/index.pug
include ../components/Chat/ContentGag/index.pug
include ../components/Logo/index.pug
include ../components/ProfileIncome/index.pug

block variables 
	- const title = "Air чат";

prepend head
	link(rel="stylesheet", href="../components/ExtraLink/style.sass")
	link(rel="stylesheet", href="../styles/chat.sass")
	
block content 
	main.page
		.chat
			aside.chat__column.aside
				.aside__header
					.aside__headerTop
						+logo('../../static/assets/logo/logo.svg')
						+profileIncome
					.aside__headerBody
						+searchBar
				.aside__chatsBody
					+chatItem("../../static/assets/user.webp", "Андрей", false, "image", "10:49", 2)
					+chatItem("../../static/assets/user.webp", "Киноклуб", true, "sticker", "12:00")
					+chatItem("../../static/assets/user.webp", "Илья", false, "Друзья, всем привет! У меня для вас очень особенный выпуск новостей!", "15:12", 4)
					+chatItem("../../static/assets/user.webp", "Вадим", true, "Круто!", "Пт")
					+chatItem("../../static/assets/user.webp", "Тет-а-теты", false, "И Human Interface Guidelines и Material Design для вас рекомендуют", "Ср")
					+chatItem("../../static/assets/user.webp", "1, 2, 3", false, "Миллионы россиян ежедневно проводят десятки часов своего времени", "Пн")
					+chatItem("../../static/assets/user.webp", "Design Destroyer", false, "В 2008 году художник Jon Rafman начал собирать пожертвования для своего", "Пн")
					+chatItem("../../static/assets/user.webp", "Day.", false, "Так увлёкся работой по курсу, что совсем забыл его анонсировать в чате", "1 Мая 2020")
					+chatItem("../../static/assets/user.webp", "Стас Рогозин", True, "Можно или сегодня или завтра зайти забрать.", "12 Апреля 2020", 22)
					+chatItem("../../static/assets/user.webp", "Алёна", False, "Завтра пойдём в поход в горы. Ты как смотришь на это?", "1 Июля 2006", 15)
					+chatItem("../../static/assets/user.webp", "Андрей", False, "image", "10:49", 2)
					+chatItem("../../static/assets/user.webp", "Андрей", False, "image", "10:49", 2)
			div.chat__content.content
				+contentGag
				//- +contentHeader
				//- +contentBody
				//- +contentSendout