extends ../layouts/index.pug

include ../components/ExtraLink/index.pug
include ../components/Chat/SearchBar/index.pug
include ../components/Chat/ChatItem/index.pug
include ../components/Chat/ContentGag/index.pug
include ../components/Logo/index.pug
include ../components/ProfileIncome/index.pug

block variables 
	- const title = "Air чат";

prepend head
	link(rel="stylesheet", href="../components/ExtraLink/style.sass")
	link(rel="stylesheet", href="../styles/chat.sass")
	
block content 
	main.page
		.chat
			aside.chat__column.aside
				.aside__header
					.aside__headerTop
						+logo('../../static/assets/logo/logo.svg', './index.pug')
						+profileIncome
					.aside__headerBody
						+searchBar
				.aside__chatsBody
					each elem in chats.data
						+chatItem(elem.srcAvatar, elem.userName, elem.ownFactor, elem.lastMessage, elem.time, elem.countNotReadMessage)
			div.chat__content.content
				+contentGag
				//- +contentHeader
				//- +contentBody
				//- +contentSendout