extends ../layouts/index.pug

include ../components/ExtraLink/index.pug
include ../components/Chat/SearchBar/index.pug
include ../components/Chat/ChatItem/index.pug
include ../components/Chat/Avatar/index.pug
include ../components/Chat/ContentGag/index.pug
include ../components/Chat/ContentHeader/index.pug
include ../components/Chat/ContentBody/index.pug
include ../components/Chat/ContentFooter/index.pug
include ../components/Logo/index.pug
include ../components/ProfileIncome/index.pug
include ../components/Modal/index.pug

block variables 
	- const title = "Air чат";

prepend head
	link(rel="stylesheet" href="../styles/chat.sass")

block content 
	main.page
		.chat
			aside.chat__column.aside
				.aside__header
					.aside__headerTop
						+logo('../../static/assets/logo/logo.png', './index.pug')
						+profileIncome
					.aside__headerBody
						+searchBar
				.aside__chatsBody
					each elem in chats.payload
						+chatItem(elem.srcAvatar, elem.userName, elem.ownFactor, elem.lastMessage, elem.timeValue, elem.newMessageCount)
			div.chat__content.content
				+contentGag
				.content__wrapper.content__wrapper--hidden
					+contentHeader
					+contentBody
					+contentFooter
block scripts
	script(src="../utils/chat.js" type="module")
	script(src="../utils/modal.js" type="module")