extends ../layouts/error.pug
include ../components/ErrorPage/index.pug

block variables 
	- const title = "Страница не найдена";
	- const errCode = 404;
	- const errMsg = "Не туда попали"


block content 
	main.page
		+errPage(errCode, errMsg)