extends ../layouts/error.pug
include ../components/ErrorPage/index.pug

block variables 
	- const title = "Страница не найдена";
	- const errCode = 404;
	- const errMsg = "Не туда попали"
	//- - const title = "Ошибка сервера";
	//- - const errCode = 500;
	//- - const errMsg = "Внутренняя ошибка сервера"


block content 
	main.page
		+errPage(errCode, errMsg)