extends ../layouts/index.pug

include ../components/ExtraLink/index.pug
include ../components/ErrorPage/index.pug

block variables 
	- const title = "Страница не найдена";
	- const errCode = 404;
	- const errMsg = "Не туда попали"

prepend head
	link(rel="stylesheet", href="../components/ExtraLink/style.sass")
	link(rel="stylesheet", href="../components/ErrorPage/style.sass")

block content 
	main.page
		+errPage(errCode, errMsg)