extends ../layouts/index.pug

block variables 
	- const title = "Вход";
	
block head
	link(rel="stylesheet", href="../components/SignIn/style.sass")

block content 
	main.page 
		.page__form.form
			include ../components/SignIn/index.pug