extends ../layouts/index.pug

include ../components/ExtraLink/index.pug
include ../components/Input/index.pug
include ../components/Button/index.pug

block variables 
	-const title = "Вход";
	
prepend head
	link(rel="stylesheet", href="../components/ExtraLink/style.sass")
	link(rel="stylesheet", href="../components/Input/style.sass")
	link(rel="stylesheet", href="../components/Button/style.sass")
	link(rel="stylesheet", href="../styles/signin.sass")

block content 
	main.page 
		.page__form.form
			.form__wrapper
				form.form__content
					.form__header
						.form__caption
							+titleData("Привет!", "Рады видеть тебя здесь!")
					.form__body 
						+inputType("text", "login", "Введите ваш e-mail...", "Электронная почта:")
						+inputType("password", "password", "Введите ваш пароль...", "Пароль:")
					.form__footer
						.form__button 
							+buttonAuth("submit", "signin", "Войти")
						.form__signInOutLink
							span Новичок?
							+extraLink("./signup.pug", "link__welcome", "Добро пожаловать!")
						
						div(style="display: flex; flex-direction: column; width: fit-content; gap: 15px; margin-top: 25px")
							+extraLink("./errorpage.pug", "link__error", "Страница ошибки")
							+extraLink("./chat.pug", "link__error", "Страница чатов")