extends ../layouts/index.pug

include ../components/BackButton/index.pug


block variables 
	-const title = "Личный кабинет";
	
prepend head
	link(rel="stylesheet" href="../styles/profile.sass")


block content 
	main.page
		.profile
			a.profile__nav(href="./chat.pug")
				+backButton
			.profile__content
				div content
				
block scripts
	script(src="../utils/modal.js" type="module")