extends ../layouts/index.pug

include ../components/Input/index.pug
include ../components/Button/index.pug
include ../components/ExtraLink/index.pug

block variables 
	- const title = "Создать аккаунт";
	
prepend head
	link(rel="stylesheet", href="../components/ExtraLink/style.sass")
	link(rel="stylesheet", href="../components/Input/style.sass")
	link(rel="stylesheet", href="../components/Button/style.sass")
	link(rel="stylesheet", href="../styles/signup.sass")

block content 
	main.page 
		.page__form.form
			.form__wrapper 
				form.form__content
					.form__header
						.form__caption
							+titleData("Давай к нам!", "Будем рады видеть тебя здесь!")
					.form__body 
						+inputType("text", "login", "Введите ваш e-mail...", "Электронная почта:")
						+inputType("text", "nickname", "Ваш ник в чате...", "Никнейм в чате:")
						+inputType("text", "realname", "Ваше настоящее имя...", "Имя:")
						+inputType("text", "realsurname", "Ваша настоящая фамилия...", "Фамилия:")
						+inputType("text", "phone", "Номер вашего телефона...", "Телефон:")
						+inputType("password", "password", "Введите ваш пароль...", "Пароль:", "", false)
						+inputType("password", "renewpassword", "Введите ваш пароль ещё раз...", "Повторите ввод пароля:", "", false)
					.form__footer
						.form__button 
							+buttonAuth("submit", "signup", "Готово")
						.form__signInOutLink
							span Уже зарегистрированы?
							+extraLink("./index.pug", "link__welcome", "Войти")