extends ../layouts/base.pug


block variables 
	- const title = "Создать аккаунт";
	
block head
	link(rel="stylesheet", href="../components/SignUp/style.sass")

block content 
	main.page 
		.page__form.form
			include ../components/SignUp/index.pug