@import ../../styles/vars

.link__forgotten,
.link__welcome,
.link__back,
.link__error
	color: $linkColor
	font-family: "InterRegular", sans-serif
	position: relative
	width: fit-content
	&::after
		content: ''
		position: absolute
		left: 50%
		bottom: rem(-4)
		width: 0
		opacity: 0
		height: rem(1)
		background-color: $linkColor
		transition: all 0.35s ease 0s
	&:hover
		&::after
			content: ''
			opacity: 1
			width: 100%
			left: 0