prepend head
	link(rel="stylesheet" href="../components/Profile/UserData/style.sass")


mixin userData(mock)
	.userData
		form.userData__form
			each elem in mock
				.userData__row
					.userData__desc #{elem.desc}
					input.userData__data(type="text", value=elem.data name=elem.name disabled).userData__data--cell