@import "../../styles/vars"

.page
	&__error
		align-self: center
	&__errorwrapper
		display: flex
		flex-direction: column
		align-items: center
		@include adaptiveValue("gap", 30, 20)
		color: $blackColor
		font-family: "InterRegular", sans-serif
		@include adaptiveValue("font-size", 24, 18)
	&__errorcode
		font-family: "InterSemibold", sans-serif
		@include adaptiveValue("font-size", 96, 80)
		@include adaptiveValue("letter-spacing", 5, 2)
	&__errordesc
		@include adaptiveValue("margin-bottom", 50, 25)
