mixin dataAttachIcon
	<svg fill="none" stroke="#000" version="1.1" viewBox="0 0 31.979 28.124" xmlns="http://www.w3.org/2000/svg">
		<path d="m9.9391 16.959 10.897-10.7c1.3231-1.2982 3.474-1.2982 4.7971 0 1.3231 1.2993 1.3231 3.4126 0 4.7119l-14.991 14.53c-2.2086 2.1688-5.7866 2.1688-7.9952 0-2.2086-2.1677-2.2086-5.6836 0-7.8513l14.83-14.374c3.0918-3.0361 8.106-3.0361 11.193 0 3.094 3.0372 3.094 7.9568 0.0023 10.993l-10.735 10.543" stroke-linecap="round" stroke-width="1.5" />
	</svg>
