mixin removeUserIcon
	<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M6.125 6.5C7.57475 6.5 8.75 5.32475 8.75 3.875C8.75 2.42525 7.57475 1.25 6.125 1.25C4.67525 1.25 3.5 2.42525 3.5 3.875C3.5 5.32475 4.67525 6.5 6.125 6.5Z" stroke="#5B6BC0" stroke-linejoin="round" />
		<path d="M10.25 12.1245H14.75" stroke="#5B6BC0" stroke-linecap="round" stroke-linejoin="round" />
		<path d="M9.125 9.50049H6.05C4.36985 9.50049 3.52978 9.50049 2.88804 9.82745C2.32354 10.1151 1.8646 10.574 1.57698 11.1385C1.25 11.7803 1.25 12.6203 1.25 14.3005V14.7505H9.125" stroke="#5B6BC0" stroke-linecap="round" stroke-linejoin="round" />
	</svg>
