mixin sendMessageIcon
	<svg fill="none" version="1.1" viewBox="0 0 31.497 23.982" xmlns="http://www.w3.org/2000/svg">
		
		<g stroke-linecap="round" stroke-width="1.5">
			<path d="m6 16.491h-3" />
			<path d="m3.75 11.991h-3" />
			<path d="m6.0005 7.4908h-3" style="fill:none;" />
		</g>
		<g transform="translate(-.25 -.2592)" stroke-width="1.5">
			<path d="m28.809 8.4653-13.054-7.0025c-3.0817-1.6531-6.4953 1.3897-5.6144 4.8895 0.0341 0.13551 0.0869 0.26656 0.1486 0.39193l2.4932 5.0646c0.137 0.2782 0.1371 0.6043 4e-4 0.8826l-2.4865 5.062c-0.0609 0.124-0.1132 0.2536-0.1471 0.3875-0.88632 3.4989 2.5233 6.5473 5.6073 4.8993l13.047-6.9722c2.9265-1.5638 2.9296-6.0341 0.0054-7.6028z" style="fill:none" />
			<path d="m16.219 12.303h-3" stroke-linecap="round" style="fill:none;" />
		</g>
	</svg>
