prepend head
	link(rel="stylesheet" href="../components/Chat/Avatar/style.sass")


mixin userAvatar(userLogo)
	.avatar
		.avatar__content
			if userLogo
				img(src=userLogo, alt="user")
			else
				<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9682 6.92961L13.339 1.69936C13.0659 0.822432 11.9342 0.822432 11.661 1.69936L10.0318 6.92961C9.64543 8.17009 8.519 9.05105 7.20375 9.05105H1.9316C1.52816 9.05105 1.21921 9.30227 1.09259 9.70874C0.965113 10.1179 1.07089 10.5468 1.42757 10.8171L5.69283 14.0496C6.72933 14.8351 7.14301 16.2037 6.75855 17.4379L5.12937 22.6682C4.9817 23.1422 5.16051 23.5464 5.46436 23.7766C5.7617 24.0019 6.13165 24.0348 6.4724 23.7766L10.7377 20.5441C11.7854 19.7501 13.2146 19.7501 14.2624 20.5441L18.5277 23.7766C18.8684 24.0348 19.2384 24.0019 19.5357 23.7766C19.8395 23.5464 20.0184 23.1422 19.8707 22.6682L18.2416 17.4379C17.857 16.2037 18.2707 14.8351 19.3073 14.0496L23.5724 10.8171C23.9292 10.5468 24.0349 10.1179 23.9074 9.70875C23.7809 9.30227 23.4718 9.05105 23.0684 9.05105H17.7963C16.481 9.05105 15.3546 8.17008 14.9682 6.92961ZM14.3335 1.38957C13.7564 -0.46319 11.2436 -0.46319 10.6664 1.38957L9.03729 6.61981C8.77919 7.4484 8.03896 8.00938 7.20375 8.00938H1.9316C0.0639868 8.00938 -0.712514 10.5022 0.798405 11.6473L5.06366 14.8798C5.73937 15.3919 6.02211 16.2996 5.76401 17.1282L4.13483 22.3584C3.55771 24.2112 5.59065 25.7519 7.10157 24.6068L11.3668 21.3743C12.0425 20.8622 12.9575 20.8622 13.6332 21.3743L17.8985 24.6068C19.4093 25.7519 21.4424 24.2112 20.8652 22.3584L19.236 17.1282C18.9779 16.2996 19.2607 15.3919 19.9364 14.8798L24.2016 11.6473C25.7125 10.5022 24.936 8.00938 23.0684 8.00938H17.7963C16.9611 8.00938 16.2209 7.4484 15.9628 6.61981L14.3335 1.38957Z" />
				</svg>
