include ../components/TitleData/titleData.pug

block variables
	- let title = ""

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
		block head
			link(rel="stylesheet", href='../styles/fonts.sass')
			link(rel="stylesheet", href='../styles/null.sass')
			link(rel="stylesheet", href='../styles/styles.sass')
			link(rel="stylesheet", href='../styles/sass-mixins.sass')
			link(rel="stylesheet", href='../styles/scroll.sass')
			title #{title}

	body 
		.wrapper
			block content
				h1 No content
		
		block scripts