@import "../../../styles/vars"

	
.chatItem
	width: 100%
	height: 100%
	cursor: pointer
	padding: rem(10) rem(8)
	transition: background-color 0.25s ease 0s
	border-bottom: rem(1) solid rgba($linkColor, .15)
	max-height: rem(73)
	&:hover
		background-color: rgba($logoColor, .15)
	&--active
		background-color: rgba($logoColor, .15)
	&__box
		display: flex
		flex-direction: row
		gap: rem(5)
		align-items: center
		height: 100%
	&__avatar
		max-width: rem(55)
		max-height: rem(55)
		height: 100%
		width: 100%
		display: flex
		flex-direction: row
		align-items: center
	&__caption
		display: flex
		flex-direction: column
		align-items: flex-start
		gap: rem(9)
		flex: 1 1 auto
	&__name
		font-family: "InterSemibold", sans-serif
	&__desc
		display: flex
		flex-direction: row
		gap: rem(5)
		justify-content: flex-start
		align-items: center
		span
			font-family: "InterLight", sans-serif
			font-size: rem(12)
			color: rgba($blackColor, .5)
			line-height: rem(14)
			@include textclip(2)
	&__owner
		font-family: "InterSemibold", sans-serif
		font-size: rem(12)
	&__info
		display: flex
		flex-direction: column
		align-items: flex-end
		justify-content: space-between
		gap: rem(12)
	&__time
		display: block
		font-family: "InterLight", sans-serif
		font-size: rem(12)
		white-space: nowrap
	&__quantity
		height: rem(20)
	&__quantityWrapper
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		border-radius: 50%
		font-family: "InterRegular", sans-serif
		font-size: rem(12)
		background-color: $logoColor
		color: $whiteColor
		line-height: rem(12)
		max-width: rem(20)
		max-height: rem(20)
		width: 100%
		padding: rem(12)
		margin-right: rem(2)
	&__quantityValue
		font-weight: bold